boto3
requests
flask
flake8
pytest
ansible
fabric
python-terraform
jenkinsapi
docker
prometheus-client
elasticsearch
paramiko
PyYAML
hvac
kubernetes
pyhelm
slack-sdk
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
azure-mgmt-resource
